@use "styles/mixins" as m;

.Contact {
  @include m.main;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: green;
}

.container {
  background: red;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 1rem 0 1rem 1rem;
  font-size: 1.2rem;
  min-width: 300px;
  position: relative;
}

.arrow {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
