$white: #f9f5ea;
$bright-white: #efe7d4;
$red: #b72a2b;
$bright-red: #ec2129;
$bright-brown: #5c3532;
$pale-brown: #302321;
$black: #000000;
$orange: #fda530;
$yellow: #ffc54a;
$pink: #ff88a3;
$grey: #938e82;
