@font-face {
 font-family: "Alphasmoke";
 src: url("/fonts/alphasmoke/Alphasmoke.ttf") format("truetype");
}

@font-face {
 font-family: "Beanbag";
 src: url("/fonts/beanbag/Beanbag.ttf") format("truetype");
}
